<!DOCTYPE html  >
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link rel="stylesheet" href="../bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../bootstrap-3.3.7-dist/css/bootstrap-theme.css">
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>-->
    <!--<script src="../ang.js"></script>-->
  </head>
  <body >
  <div class="container">
    <div class="panel-group">

      <div class="panel panel-primary">
        <div class="panel-heading">Facebook Profile</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-4">
          <img src="/images/profile.jpg" class="panel-image-preview" height="300px" width="300px" />
            </div>
            <div class="col-lg-4">
            <form action="https://www.facebook.com/" method="get" target="_blank">
              <button type="submit" class="btn btn-primary">View Profile</button>
            </form>
              </div>
            <div class="col-lg-4">
              <%var t=o.id%>
            <p>Fullname:</p><%= items[t]["Fullname"]%>
            <p>Email:</p><%= items[t]["Email"]%>
            <p>Phone#:</p><%= items[t]["Phone#"]%>
            <p>Location:</p><%= items[t]["Location"]%>
            <p>Bdate:</p><%= items[t]["Bdate"]%>
            <p>Gender:</p><%=items[t]["Gender"]%>
              <div>
          <br>
          </div>
        </div>

      </div>


      <div class="panel panel-primary">
        <div class="panel-heading">Work History</div>
        <div class="panel-body">Panel Content</div>
      </div>


    </div>
  </div>
  <script src="../jquery-3.1.1.js"></script>
  <script src="../bootstrap-3.3.7-dist/js/bootstrap.js"></script>
  <script src="../bootstrap-3.3.7-dist/js/npm.js"></script>
  </body>
</html>
